@import "variables.scss";

/* Partie body - main - général */

body {
    margin: 0px;
    display: flex;
    justify-content: center;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;

    @media (min-width: $tablet-breakpoint) {
        max-width: 1440px;
    }
}

/* Partie logo - marque */

header {
    display: flex;
    align-items: center;
    
    .return {
        width: 30px;
        height: 30px;
        position: absolute;
        left: 17px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    h1 {
        width: 100%;
        height: 63px;
        font-size: 30px;
        display: flex;
        justify-content: center;
        align-items: center;

        @media (min-width: $mobile-breakpoint) {
        height: 96px;
        }
    }
}

/* Partie image */

.image {
    width: 100%;
    height: 275px;
    object-fit: cover;
}

/* Partie menu */

.menu {
    width: 100%;
    border-radius: 40px 40px 0px 0px;
    background-color: $third-background-color;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    padding: 32px 13px 40px 13px;
    margin-top: -32px;
    box-sizing: border-box;

    .restaurant-name {
        width: 341px;
        height: 29px;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 8px;
        position: relative;

        h1 {
            width: 100%;
            height: 27px;
            font-size: 28px;
            display: flex;
            align-items: center;

        }

        .fa-regular {
            width: 25px;
            height: 22px;
            position: absolute; 
            top: 11px;
            right: 0px;
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
                display: none;
            }
        } 
        
        .fa-solid {
            width: 25px;
            height: 22px;
            position: absolute; 
            top: 11px;
            right: 0px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-clip: text;
            color: transparent;
            background-image: linear-gradient(to bottom right, $secondary-color, $primary-color);
            opacity: 0;
            transition: all 0.3s;

            &:hover {
                opacity: 1;
            }
        }
    }
}

    .menu-part {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 12px;
        

        h5 {
            width: 275px;
            height: 27px;
            position: relative;
        }

        h5::before {
            content: "";
            position: absolute;
            bottom: -3px; 
            width: 40px;
            border-bottom: $tertiary-color solid 3px;
        }

        .dish {
            width: 100%;
            overflow: hidden;
            border-radius: 15px;
            display: flex;
            flex-direction: row;
            position: relative;
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
            background-color: $first-background-color;
            

            &:active {

                .check, .dish-price {
                    animation: "checking" 0.5s forwards;
                }

                .dish-name {
                    border-radius: 15px 0px 0px 15px;
                }
            }

        .dish-name {
            width: 100%;
            height: 69px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .dish-txt {
                width: 0px;
                height: 42px;
                padding: 15px 0px 15px 15px;
                white-space: nowrap;
                
            }

            .dish-price {
                width: 59px;
                height: 69px;
                padding: 15px 15px 15px 0px;
                box-sizing: border-box;
                display: flex;
                justify-content: center;
                align-items: flex-end;
            }
        }

        .check {
            position: absolute;
            right: -59px;
            width: 59px;
            height: 69px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $tertiary-color;
            border-radius: 0px 15px 15px 0px;
            color: white;
            
        }
        
        }
        
    }

@keyframes checking {
    from {  transform: translateX(0);
    }
    to {    transform: translateX(-59px);
    }
    
}


    a > h5 {
        width: 186px;
        height: 50px;
        background: linear-gradient(to bottom right, $secondary-color, $primary-color);
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
        color: $third-text-color;
        border-radius: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 1;
        transition: all 0.3s ease;

            &:hover {
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
            opacity: 0.8;
            }
    }

/* Partie informations - contact */

footer {
    width: 100%;
    height: 186px;
    background-color: $second-background-color;
    color: $third-text-color;
    padding: 22px 25px 22px 25px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 16px;

    @media (min-width: $tablet-breakpoint) {
        max-width: 1440px;
        height: 114px;
        flex-direction: row-reverse;
        align-items: flex-end;
        top: 1261.38px;
    }

    h1 {
        width: 137.58px;
        height: 27px;
        font-size: 18px;
        font-weight: 400;
    }

    .informations {
        width: 190px;
        height: 99px;
        display: flex;
        flex-direction: column;
        gap: 7px;

        @media (min-width: $tablet-breakpoint) {
            width: 661px;
            height: 20px;
            flex-direction: row;
        }

        .informations-icons {
            width: 190px;
            height: 19px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: 7px;

            i {
                width: 11px;
                height: 13px;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            h5 {
                width: 168px;
                height: 19px;
            }
        }
    }
}

.informations > h5 {
    width: 130px;
    height: 20px;
    font-weight: 400; 
}