/* Partie body - main - général */

body {
    margin: 0px;
    display: flex;
    justify-content: center;
}

@include loader;

main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    @media (min-width: $tablet-breakpoint) {
        max-width: 1440px;
    }
}

/* Partie logo - marque */

@include header;

/* Partie localisation des restaurants les plus proches */

.adress {
    width: 100%;
    height: 50px;
    background-color: $fourth-background-color;
    color: $second-text-color;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 17px;
}

/* Partie exploration des restaurants du site */

.explore {
    width: 100%;
    height: 287px;
    background-color: $third-background-color;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: $mobile-breakpoint) {
        height: 179px;
        padding-top: 30px;
        padding-bottom: 30px;
        justify-content: space-between;
    }

    h2 {
        width: 275px;
        height: 68px;
        padding-top: 39px;

        @media (min-width: $mobile-breakpoint) {
            width: 645px;
            height: 47px;
            padding-top: 0px;
            font-size: 40px;
        }
    }

    h3 {
        font-weight: 300;
        width: 315px;
        height: 46px;
        padding-bottom: 27px;

        @media (min-width: $mobile-breakpoint) {
            width: 531px;
            top: 95px;
            padding-bottom: 0px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
 
/* animation de l'arrivée progressive des parties du menuBouton explorer */

    h5 {
        width: 218px;
        @include button;
    } 
           
}

/* Partie choix du client en 3 étapes*/

.choice {
    padding-left: 20px;
    padding-right: 32px;
    width: 100%;
    height: 440px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    @media (min-width: $tablet-breakpoint) {
        height: 228.38px;
        padding: 50px 12.5% 50px 12.5%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    h2 {
        width: 275px;
        height: 31px;
        padding-top: 48px;
        padding-bottom: 26px;

        @media (min-width: $tablet-breakpoint) {
            padding: 0px;
        }
    }

        .choice-btn {
            width: 100%;
            height: 267px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

        @media (min-width: $tablet-breakpoint) {
            height: 72.38px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 2.28%;
        }
        
        .choice-restaurant, .choice-meal, .choice-place {
            display: flex;
            flex-direction: row;
            align-items: center;
            background-color: $third-background-color;
            width: 100%;
            height: 72.38px;
            border-radius: 20px;
            margin-left: 12px;
            box-sizing: border-box;
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);

            @media (min-width: $tablet-breakpoint) {
                width: 33.3%;
            }

            p {
                width: 24px;
                height: 24px;
                font-size: 14.18px;
                font-weight: 500;
                position: absolute; 
                left: 20px;
                background-color: $primary-color;
                color: $third-text-color;
                border-radius: 25px;
                display: flex;
                justify-content: center;
                align-items: center;

                @media (min-width: $tablet-breakpoint) {
                    position: relative;
                    left: -12px;
                }
            }

            i {
                padding-left: 35px;

                @media (min-width: $tablet-breakpoint) {
                    padding-left: 0px;
                }

                @media (min-width: 1300px) {
                    padding-left: 22px;
                }
            }

            h5 {
                padding-left: 21px;

                @media (min-width: $tablet-breakpoint) {
                    padding-left: 8px;
                }

                @media (min-width: 1300px) {
                    padding-left: 28px;
                }
            }
        }
    }
}

/* Partie lien vers les différentes pages des restaurants */

.restaurants {
    width: 100%;
    height: 1226px;
    background-color: $third-background-color;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    @media (min-width: $mobile-breakpoint) {
        height: 668px;
        padding: 30px 12.5% 30px 12.5%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    h2 {
        padding-top: 54px;
        padding-bottom: 24px;
        
        @media (min-width: $mobile-breakpoint) {
            width: 268.72px;
            height: 28px;
            padding: 0px;
        }
    }

/* Ensemble des différents restaurants */

    .cards{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 18px;

        @media (min-width: $mobile-breakpoint) {
            height: 552px;
            padding: 0px;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
        }

/* Carte et lien d'un restaurant unique */

        .restaurant-link {
            width: 100%;
            height: 251px;
            border-radius: 15px;
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
            display: flex;
            flex-direction: column;
            position: relative;

            @media (min-width: $mobile-breakpoint) {
                width: 45.37%;
            }
            
            .card-img {
                border-radius: 15px 15px 0px 0px;
                height: 174px;
                overflow: hidden;
                display: flex;
                align-items: flex-end;
                
                img {
                    border-radius: 15px 15px 0px 0px;
                    width: 100%;
                    object-fit: cover;
                    max-height: 231px;
                }

                p {
                    font-size: 14px;
                    font-weight: 500;
                    background-color: $tertiary-color;
                    color: $new-text-color;
                    width: 80px;
                    height: 29px;
                    border-radius: 2px;
                    position: absolute; 
                    top: 13px;
                    right: 13px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                }
            }

            h3 {
                font-weight: 700;
                width: 267px;
                height: 20px;
                position: absolute; 
                top: 190px;
                left: 13px;

                @media (min-width: $mobile-breakpoint) {
                    left: 18.74px;
                }
            }

            h4 {
                width: 247px;
                height: 24px;
                position: absolute; 
                top: 215px;
                left: 13px;

                @media (min-width: $mobile-breakpoint) {
                    left: 18.74px;
                }
            }

/* Coeur de la carte */

            .fa-regular {
                @include regular-heart;
                position: absolute; 
                top: 197px;
                right: 26px;
            } 
            
            .fa-solid {
                @include solid-heart;
                position: absolute; 
                top: 197px;
                right: 26px;
                
            }
        }
    }
}

/* Partie informations - contact */

@include footer;