@charset "UTF-8";
/* Breakpoint pour media queries */
/* Partie couleur - général */
/* Partie couleur de fond */
/* Partie style du texte */
h1, h2, h3, h4, h5, p {
  margin: 0px;
}

h1 {
  font-family: "Shrikhand";
  font-style: italic;
  font-weight: 400;
}

h2, h3, h4, h5, p {
  font-family: "Roboto";
}

h2 {
  font-size: 24px;
  font-weight: 700;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 17px;
  font-weight: 300;
}

h5 {
  font-size: 16px;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: inherit;
}

/* loader de la page d'acceuil */
/* Header des différentes pages */
/* Footer des différentes pages */
/* Boutons d'exploration ou de commande des différentes pages */
/* Coeur vide */
/* Coeur plein */
/* Validation des plats sur le menu */
/* Partie body - main - général */
body {
  margin: 0px;
  display: flex;
  justify-content: center;
}

.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  opacity: 0.8;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: loader-departure 0.5s ease 3s forwards;
}
.loader .ustensil {
  width: 100px;
  height: 100px;
  border: transparent solid 20px;
  border: #eaeaea solid 20px;
  border-right: #f6f6f6 solid 20px;
  border-left: #f6f6f6 solid 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
  animation: loader-circle 1s infinite;
}

@keyframes loader-departure {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes loader-circle {
  to {
    transform: rotate(360deg);
  }
}
main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
@media (min-width: 1024px) {
  main {
    max-width: 1440px;
  }
}

/* Partie logo - marque */
header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header h1 {
  width: 100%;
  height: 63px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  header h1 {
    height: 96px;
  }
}

/* Partie localisation des restaurants les plus proches */
.adress {
  width: 100%;
  height: 50px;
  background-color: #eaeaea;
  color: #353535;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 17px;
}

/* Partie exploration des restaurants du site */
.explore {
  width: 100%;
  height: 287px;
  background-color: #f6f6f6;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* animation de l'arrivée progressive des parties du menuBouton explorer */
}
@media (min-width: 768px) {
  .explore {
    height: 179px;
    padding-top: 30px;
    padding-bottom: 30px;
    justify-content: space-between;
  }
}
.explore h2 {
  width: 275px;
  height: 68px;
  padding-top: 39px;
}
@media (min-width: 768px) {
  .explore h2 {
    width: 645px;
    height: 47px;
    padding-top: 0px;
    font-size: 40px;
  }
}
.explore h3 {
  font-weight: 300;
  width: 315px;
  height: 46px;
  padding-bottom: 27px;
}
@media (min-width: 768px) {
  .explore h3 {
    width: 531px;
    top: 95px;
    padding-bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.explore h5 {
  width: 218px;
  height: 50px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  opacity: 1;
  border-radius: 25px;
  transition: all 0.3s ease;
}
.explore h5:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
  opacity: 0.8;
}

/* Partie choix du client en 3 étapes*/
.choice {
  padding-left: 20px;
  padding-right: 32px;
  width: 100%;
  height: 440px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
@media (min-width: 1024px) {
  .choice {
    height: 228.38px;
    padding: 50px 12.5% 50px 12.5%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
.choice h2 {
  width: 275px;
  height: 31px;
  padding-top: 48px;
  padding-bottom: 26px;
}
@media (min-width: 1024px) {
  .choice h2 {
    padding: 0px;
  }
}
.choice .choice-btn {
  width: 100%;
  height: 267px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 1024px) {
  .choice .choice-btn {
    height: 72.38px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2.28%;
  }
}
.choice .choice-btn .choice-restaurant, .choice .choice-btn .choice-meal, .choice .choice-btn .choice-place {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #f6f6f6;
  width: 100%;
  height: 72.38px;
  border-radius: 20px;
  margin-left: 12px;
  box-sizing: border-box;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
}
@media (min-width: 1024px) {
  .choice .choice-btn .choice-restaurant, .choice .choice-btn .choice-meal, .choice .choice-btn .choice-place {
    width: 33.3%;
  }
}
.choice .choice-btn .choice-restaurant p, .choice .choice-btn .choice-meal p, .choice .choice-btn .choice-place p {
  width: 24px;
  height: 24px;
  font-size: 14.18px;
  font-weight: 500;
  position: absolute;
  left: 20px;
  background-color: #9356DC;
  color: white;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 1024px) {
  .choice .choice-btn .choice-restaurant p, .choice .choice-btn .choice-meal p, .choice .choice-btn .choice-place p {
    position: relative;
    left: -12px;
  }
}
.choice .choice-btn .choice-restaurant i, .choice .choice-btn .choice-meal i, .choice .choice-btn .choice-place i {
  padding-left: 35px;
}
@media (min-width: 1024px) {
  .choice .choice-btn .choice-restaurant i, .choice .choice-btn .choice-meal i, .choice .choice-btn .choice-place i {
    padding-left: 0px;
  }
}
@media (min-width: 1300px) {
  .choice .choice-btn .choice-restaurant i, .choice .choice-btn .choice-meal i, .choice .choice-btn .choice-place i {
    padding-left: 22px;
  }
}
.choice .choice-btn .choice-restaurant h5, .choice .choice-btn .choice-meal h5, .choice .choice-btn .choice-place h5 {
  padding-left: 21px;
}
@media (min-width: 1024px) {
  .choice .choice-btn .choice-restaurant h5, .choice .choice-btn .choice-meal h5, .choice .choice-btn .choice-place h5 {
    padding-left: 8px;
  }
}
@media (min-width: 1300px) {
  .choice .choice-btn .choice-restaurant h5, .choice .choice-btn .choice-meal h5, .choice .choice-btn .choice-place h5 {
    padding-left: 28px;
  }
}

/* Partie lien vers les différentes pages des restaurants */
.restaurants {
  width: 100%;
  height: 1226px;
  background-color: #f6f6f6;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  /* Ensemble des différents restaurants */
}
@media (min-width: 768px) {
  .restaurants {
    height: 668px;
    padding: 30px 12.5% 30px 12.5%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
.restaurants h2 {
  padding-top: 54px;
  padding-bottom: 24px;
}
@media (min-width: 768px) {
  .restaurants h2 {
    width: 268.72px;
    height: 28px;
    padding: 0px;
  }
}
.restaurants .cards {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 18px;
  /* Carte et lien d'un restaurant unique */
}
@media (min-width: 768px) {
  .restaurants .cards {
    height: 552px;
    padding: 0px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
}
.restaurants .cards .restaurant-link {
  width: 100%;
  height: 251px;
  border-radius: 15px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  position: relative;
  /* Coeur de la carte */
}
@media (min-width: 768px) {
  .restaurants .cards .restaurant-link {
    width: 45.37%;
  }
}
.restaurants .cards .restaurant-link .card-img {
  border-radius: 15px 15px 0px 0px;
  height: 174px;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
}
.restaurants .cards .restaurant-link .card-img img {
  border-radius: 15px 15px 0px 0px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 231px;
}
.restaurants .cards .restaurant-link .card-img p {
  font-size: 14px;
  font-weight: 500;
  background-color: #99E2D0;
  color: #008766;
  width: 80px;
  height: 29px;
  border-radius: 2px;
  position: absolute;
  top: 13px;
  right: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.restaurants .cards .restaurant-link h3 {
  font-weight: 700;
  width: 267px;
  height: 20px;
  position: absolute;
  top: 190px;
  left: 13px;
}
@media (min-width: 768px) {
  .restaurants .cards .restaurant-link h3 {
    left: 18.74px;
  }
}
.restaurants .cards .restaurant-link h4 {
  width: 247px;
  height: 24px;
  position: absolute;
  top: 215px;
  left: 13px;
}
@media (min-width: 768px) {
  .restaurants .cards .restaurant-link h4 {
    left: 18.74px;
  }
}
.restaurants .cards .restaurant-link .fa-regular {
  width: 25px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 197px;
  right: 26px;
}
.restaurants .cards .restaurant-link .fa-solid {
  width: 25px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
  opacity: 0;
  transition: all 0.3s;
  position: absolute;
  top: 197px;
  right: 26px;
}
.restaurants .cards .restaurant-link .fa-solid:active {
  opacity: 1;
}
.restaurants .cards .restaurant-link .fa-solid:active .fa-regular {
  display: none;
}

/* Partie informations - contact */
footer {
  width: 100%;
  height: 186px;
  background-color: #353535;
  color: white;
  padding: 22px 25px 22px 25px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media (min-width: 1024px) {
  footer {
    max-width: 1440px;
    height: 114px;
    flex-direction: row-reverse;
    align-items: flex-end;
    top: 1261.38px;
  }
}
footer h1 {
  width: 137.58px;
  height: 27px;
  font-size: 18px;
  font-weight: 400;
}
footer .informations {
  width: 190px;
  height: 99px;
  display: flex;
  flex-direction: column;
  gap: 7px;
}
@media (min-width: 1024px) {
  footer .informations {
    width: 661px;
    height: 20px;
    flex-direction: row;
  }
}
footer .informations .informations-icons {
  width: 190px;
  height: 19px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 7px;
}
footer .informations .informations-icons i {
  width: 11px;
  height: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .informations .informations-icons h5 {
  width: 168px;
  height: 19px;
}

.informations > h5 {
  width: 130px;
  height: 20px;
  font-weight: 400;
}

/* Breakpoint pour media queries */
/* Partie couleur - général */
/* Partie couleur de fond */
/* Partie style du texte */
h1, h2, h3, h4, h5, p {
  margin: 0px;
}

h1 {
  font-family: "Shrikhand";
  font-style: italic;
  font-weight: 400;
}

h2, h3, h4, h5, p {
  font-family: "Roboto";
}

h2 {
  font-size: 24px;
  font-weight: 700;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 17px;
  font-weight: 300;
}

h5 {
  font-size: 16px;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: inherit;
}

/* loader de la page d'acceuil */
/* Header des différentes pages */
/* Footer des différentes pages */
/* Boutons d'exploration ou de commande des différentes pages */
/* Coeur vide */
/* Coeur plein */
/* Validation des plats sur le menu */
/* Partie body - main - général */
body {
  margin: 0px;
  display: flex;
  justify-content: center;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
@media (min-width: 1024px) {
  main {
    max-width: 1440px;
  }
}

/* Partie logo - marque */
header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header h1 {
  width: 100%;
  height: 63px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  header h1 {
    height: 96px;
  }
}

header .return {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Partie image */
.image {
  width: 100%;
  height: 275px;
  -o-object-fit: cover;
     object-fit: cover;
}

/* Partie menu */
.menu {
  width: 100%;
  border-radius: 40px 40px 0px 0px;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  padding: 32px 13px 40px 13px;
  margin-top: -32px;
  box-sizing: border-box;
  /* Titre du restaurant avec son coeur */
}
@media (min-width: 1072px) {
  .menu {
    width: 1055px;
  }
}
.menu .restaurant-name {
  width: 307px;
  height: 29px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 8px;
  position: relative;
}
.menu .restaurant-name h1 {
  width: 100%;
  height: 27px;
  font-size: 28px;
  display: flex;
  align-items: center;
}
.menu .restaurant-name .fa-regular {
  width: 25px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 11px;
  right: 0px;
}
.menu .restaurant-name .fa-solid {
  width: 25px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
  opacity: 0;
  transition: all 0.3s;
  position: absolute;
  top: 11px;
  right: 0px;
}
.menu .restaurant-name .fa-solid:active {
  opacity: 1;
}
.menu .restaurant-name .fa-solid:active .fa-regular {
  display: none;
}

.menu-part {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 12px;
  animation: menu 3s forwards;
  /* Titres entrées, plats, desserts */
  /* Plat du menu avec son animation checking */
}
.menu-part h5 {
  width: 275px;
  height: 27px;
  font-weight: 300;
  position: relative;
}
.menu-part h5::before {
  content: "";
  position: absolute;
  bottom: 0px;
  width: 40px;
  border-bottom: #99E2D0 solid 3px;
}
.menu-part .dish {
  width: 100%;
  overflow: hidden;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  position: relative;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
  /* Description du plat */
}
.menu-part .dish:active .check, .menu-part .dish:active .dish-price {
  animation: checking 0.5s forwards;
}
.menu-part .dish:not(:active) .check, .menu-part .dish:not(:active) .dish-price {
  animation: reverse-checking 0.5s forwards;
}
@keyframes checking {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-59px);
  }
}
@keyframes reverse-checking {
  from {
    transform: translateX(-59px);
  }
  to {
    transform: translateX(0);
  }
}
.menu-part .dish .check {
  position: absolute;
  right: -59px;
  width: 59px;
  height: 69px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  border-radius: 0px 15px 15px 0px;
  color: white;
}
.menu-part .dish .dish-name {
  width: 100%;
  height: 69px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 59px;
  /* Prix du plat */
}
.menu-part .dish .dish-name .dish-txt {
  width: 100%;
  height: 42px;
  padding: 15px 0px 15px 15px;
  overflow: hidden;
}
.menu-part .dish .dish-name .dish-txt h3, .menu-part .dish .dish-name .dish-txt p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-part .dish .dish-name .dish-txt h3 {
  font-weight: 500;
}
.menu-part .dish .dish-name .dish-txt p {
  font-size: 15px;
  font-weight: 300;
}
.menu-part .dish .dish-name .dish-price {
  width: 59px;
  height: 69px;
  padding: 15px 15px 15px 0px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.menu-part .dish .dish-name .dish-price p {
  font-size: 15.04px;
  font-weight: 700;
}

/* animation de l'arrivée progressive des parties du menu */
#article1 {
  animation: menu 1s ease-in;
}

#article2 {
  animation: menu 1s ease-in 1s backwards;
}

#article3 {
  animation: menu 1s ease-in 2s backwards;
}

@keyframes menu {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
/* Bouton commande */
a > h5 {
  width: 186px;
  height: 50px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  opacity: 1;
  border-radius: 25px;
  transition: all 0.3s ease;
}
a > h5:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
  opacity: 0.8;
}

/* Partie informations - contact */
footer {
  width: 100%;
  height: 186px;
  background-color: #353535;
  color: white;
  padding: 22px 25px 22px 25px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media (min-width: 1024px) {
  footer {
    max-width: 1440px;
    height: 114px;
    flex-direction: row-reverse;
    align-items: flex-end;
    top: 1261.38px;
  }
}
footer h1 {
  width: 137.58px;
  height: 27px;
  font-size: 18px;
  font-weight: 400;
}
footer .informations {
  width: 190px;
  height: 99px;
  display: flex;
  flex-direction: column;
  gap: 7px;
}
@media (min-width: 1024px) {
  footer .informations {
    width: 661px;
    height: 20px;
    flex-direction: row;
  }
}
footer .informations .informations-icons {
  width: 190px;
  height: 19px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 7px;
}
footer .informations .informations-icons i {
  width: 11px;
  height: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .informations .informations-icons h5 {
  width: 168px;
  height: 19px;
}

.informations > h5 {
  width: 130px;
  height: 20px;
  font-weight: 400;
}/*# sourceMappingURL=style.css.map */